Workflows/02_Agent2_Backlink_Analyzer.json
{
  "name": "Agent 2 - Backlink Analyzer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1760,
        592
      ],
      "id": "5d2e2ff4-a8cd-4179-88a3-2cd6a22e3401",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QdtvuPWIMh3sq75Y",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2656,
        -16
      ],
      "id": "5fbea099-a6e8-4554-bffa-2075a418d2be",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = $('Fetch competitor_backlinks data').item.json;\n\nconst dr = row.domain_rating;\n\nlet authority_score = 0;\n\nif (dr >= 80) {\n  authority_score = 90;\n}\nelse if (dr >= 60) {\n  authority_score = 75;\n}\nelse if (dr >= 40) {\n  authority_score = 60;\n}\nelse if (dr >= 20) {\n  authority_score = 40;\n}\nelse {\n  authority_score = 20;\n}\n\nlet link_type = $json.nofollow\n  ? \"NOFOLLOW\"\n  : \"DOFOLLOW\";\n\nlet opportunity_score = authority_score;\n\nif (!($json.nofollow)) {\n  opportunity_score += 10;\n}\n\nopportunity_score = Math.min(opportunity_score, 100);\n\nreturn {\n  ...$('Fetch competitor_backlinks data').item.json,\n\n  authority_score,\n\n  opportunity_score,\n\n  link_type\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -16
      ],
      "id": "1e5aad84-d85d-469d-8663-d9ca93089492",
      "name": "Calculate Scores"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -32
      ],
      "id": "e4d5b777-71b0-4098-af74-a783cbc807d8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate backlinks.\n\nInput:\n\n{{ JSON.stringify($json.backlinks) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an SEO backlink evaluator.\n\nRelevant:\nAI\nSaaS\nAutomation\nSoftware\nCloud\nMobile\nEnterprise\n\nReturn ONLY JSON.\n\nFormat:\n\n{\n  \"results\":[\n    [index,relevance_score,spam_score]\n  ]\n}\n\nExample:\n\n{\n  \"results\":[\n    [0,85,10],\n    [1,40,50]\n  ]\n}\n\nNo explanations.\nNo text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1760,
        128
      ],
      "id": "cce237bd-d5a5-4f76-bc8d-e05f9b38a610",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"results\": [\n    [\n      0,\n      0,\n      0\n    ]\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1824,
        384
      ],
      "id": "b7c201e1-0ee8-4514-a6c7-fc48e8eda218",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const backlinks = $input.all().map((item, index) => ([\n    index,\n    item.json.domain_rating,\n    item.json.anchor_text\n]));\n\nconst uuidMap = $input.all().map((item, index) => ({\n    index,\n    id: item.json.competitor_backlinks_id\n}));\n\nreturn [{\n    json: {\n        backlinks,\n        uuidMap\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        128
      ],
      "id": "2a426971-fc76-4e2a-987e-d0365b3a2754",
      "name": "Prepare For LLM"
    },
    {
      "parameters": {
        "jsCode": "const llmResults = $json.output.results;\n\nconst uuidMap = $('Prepare For LLM').first().json.uuidMap;\n\nreturn llmResults.map(row => {\n\n  const index = row[0];\n\n  const mapping = uuidMap.find(\n    x => x.index === index\n  );\n\n  return {\n    json: {\n      competitor_backlinks_id: mapping?.id || null,\n      relevance_score: row[1],\n      spam_score: row[2]\n    }\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        96
      ],
      "id": "7ded8394-55ae-44b8-b2bd-51b78f125122",
      "name": "Restore UUID"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n\n    const relevance =\n        item.json.relevance_score;\n\n    const spam =\n        item.json.spam_score;\n\n    let recommendation;\n\n    if(relevance >= 80 && spam <= 20)\n        recommendation = \"KEEP\";\n\n    else if(relevance >= 60 && spam <= 40)\n        recommendation = \"KEEP_MONITOR\";\n\n    else if(relevance >= 40 && spam <= 60)\n        recommendation = \"MONITOR\";\n\n    else if(spam > 60 && spam <= 80)\n        recommendation = \"REVIEW\";\n\n    else\n        recommendation = \"DISAVOW\";\n\n    return {\n        json:{\n            ...item.json,\n            recommendation\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        96
      ],
      "id": "f91e6691-9524-40c4-a298-2e1d5c5880ac",
      "name": "Calculate Recommendation"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    cb.id AS competitor_backlinks_id,\n    cb.competitor_id,\n\n    c.company_name,\n\n    cb.source_url,\n    cb.anchor_text,\n    cb.nofollow,\n\n    bs.source_domain,\n    bs.domain_rating\n\nFROM competitor_backlinks cb\n\nJOIN competitors c\n    ON c.id = cb.competitor_id\n\nJOIN backlink_sources bs\n    ON bs.id = cb.backlink_source_id\n\nWHERE\n    cb.is_analyzed = false\n    AND cb.last_seen_date::DATE = CURRENT_DATE\n\nORDER BY\n    cb.created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -32
      ],
      "id": "cfbd9bb4-86ac-4274-881e-d3bddadf091e",
      "name": "Fetch competitor_backlinks data",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "846ed50b-5024-49d8-bb56-dde38b287124",
              "leftValue": "={{$json}}",
              "rightValue": "={{ '0'.toJsonString() }}",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        -32
      ],
      "id": "5ed28573-8233-40c0-96a6-d7da1a206e3c",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    status: \"LLM_FAILED\",\n    error: $json.error?.message || \"Unknown LLM Error\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        368
      ],
      "id": "3af3e364-1627-4e33-9e3c-669a730b703c",
      "name": "LLM Error Handling"
    },
    {
      "parameters": {
        "jsCode": "console.log($input.first());\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        128
      ],
      "id": "a7cd50d6-6e71-4168-970a-5c06793c983f",
      "name": "DB Error Handler"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    status: \"SUCCESS\",\n    processed: $input.all().length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        -32
      ],
      "id": "8c053c01-3e44-4349-9b14-0c77f531f78e",
      "name": "Success Response"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json:{\n    success:false,\n    error:\"No backlinks found\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -240
      ],
      "id": "6fb9b22c-a305-4330-8cbc-358e13eaedd2",
      "name": "No Backlinks"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {}\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -32
      ],
      "id": "6d00b1d0-d91c-4f0d-9c5b-ed2318466361",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs(\n\nagent_name,\nworkflow_name,\nnode_name,\nerror_type,\nerror_message,\ninput_data\n\n)\n\nVALUES(\n\n'Agent 2',\n\n'Agent 2 - Backlink Analyzer',\n\n'if condition',\n\n'Database Error',\n\n'No backlink data ',\n\n'{{ JSON.stringify($json).replace(/'/g,\"''\") }}'\n\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        -240
      ],
      "id": "f03a5ee4-2d3d-4bc6-990d-73e1aed0b8f4",
      "name": "Error log for competitor_backlinks",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (\n\n    workflow_name,\n    agent_name,\n    node_name,\n    error_type,\n    error_message,\n    input_data\n\n)\n\nVALUES (\n\n    'Agent 2 Backlink Analyzer',\n\n    'Agent 2',\n\n    'Basic LLM model',\n\n    'LLM Error',\n\n    '{{ $json.error }}',\n\n    '{{ JSON.stringify($json).replace(/''/g,\"''\") }}'::jsonb\n\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        368
      ],
      "id": "ff6925ce-75b3-419b-82cc-0f3cfaaef07e",
      "name": "LLM Logs Error",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_logs (\n\n    workflow_name,\n    agent_name,\n    node_name,\n    error_type,\n    error_message,\n    input_data\n\n)\n\nVALUES (\n\n    'Agent 2 Backlink Analyzer',\n\n    'Agent 2',\n\n    'Insert backlink_analysis',\n\n    'Database Error',\n\n    '{{ $json.error }}',\n\n    '{{ JSON.stringify($json).replace(/''/g,\"''\") }}'::jsonb\n\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        128
      ],
      "id": "b09f3428-a61c-4a79-a10a-dd6782d7fa55",
      "name": "Error Log Insert backlink_analysis",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH analysis_insert AS (\n\n    INSERT INTO backlink_analysis (\n        competitor_backlink_id,\n        source_domain,\n        domain_rating,\n        relevance_score,\n        authority_score,\n        spam_score,\n        opportunity_score,\n        link_type,\n        recommendation,\n        analyzed_at\n    )\n    VALUES (\n        '{{ $json.competitor_backlink_id }}',\n        '{{ $json.source_domain }}',\n        {{ $json.domain_rating }},\n        {{ $json.relevance_score }},\n        {{ $json.authority_score }},\n        {{ $json.spam_score }},\n        {{ $json.opportunity_score }},\n        '{{ $json.link_type }}',\n        '{{ $json.recommendation.replace(/'/g, \"''\") }}',\n        '{{ $json.analyzed_at }}'\n    )\n\n    ON CONFLICT (competitor_backlink_id)\n    DO UPDATE SET\n        source_domain = EXCLUDED.source_domain,\n        domain_rating = EXCLUDED.domain_rating,\n        relevance_score = EXCLUDED.relevance_score,\n        authority_score = EXCLUDED.authority_score,\n        spam_score = EXCLUDED.spam_score,\n        opportunity_score = EXCLUDED.opportunity_score,\n        link_type = EXCLUDED.link_type,\n        recommendation = EXCLUDED.recommendation,\n        analyzed_at = EXCLUDED.analyzed_at\n\n    RETURNING competitor_backlink_id\n)\n\nUPDATE competitor_backlinks\nSET\n    is_analyzed = true,\n    updated_at = NOW()\nWHERE id IN (\n    SELECT competitor_backlink_id\n    FROM analysis_insert\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        -16
      ],
      "id": "3f4abbed-48be-4020-be50-ce284fc89a50",
      "name": "Insert backlink_analysis",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  competitor_backlink_id: $json.competitor_backlinks_id,\n\n  source_domain: $json.source_domain,\n  domain_rating: $json.domain_rating,\n\n  authority_score: $json.authority_score,\n\n  relevance_score: $json.relevance_score,\n\n  spam_score: $json.spam_score,\n\n  opportunity_score: $json.opportunity_score,\n\n  link_type: $json.link_type,\n\n  relevance_reason: $json.relevance,\n\n  recommendation: $json.recommendation,\n\n  analyzed_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -16
      ],
      "id": "3b90a56f-e730-4336-81b4-f8c87a30aee0",
      "name": "Alligned backlink_analysis data"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Alligned backlink_analysis data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Prepare For LLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Restore UUID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Logs Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For LLM": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore UUID": {
      "main": [
        [
          {
            "node": "Calculate Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Recommendation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch competitor_backlinks data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Error log for competitor_backlinks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Backlinks": {
      "main": [
        []
      ]
    },
    "LLM Error Handling": {
      "main": [
        []
      ]
    },
    "DB Error Handler": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Fetch competitor_backlinks data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error log for competitor_backlinks": {
      "main": [
        [
          {
            "node": "No Backlinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Logs Error": {
      "main": [
        [
          {
            "node": "LLM Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Log Insert backlink_analysis": {
      "main": [
        [
          {
            "node": "DB Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert backlink_analysis": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Log Insert backlink_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alligned backlink_analysis data": {
      "main": [
        [
          {
            "node": "Insert backlink_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b97d5cc1-8c16-4cd9-ad1a-ca72338629cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3bbb2ca9db600b2da7ddb3b953b0326776f0644d9dd665fd09e137c2f47001"
  },
  "nodeGroups": [],
  "id": "fP8BxykKjaZzJie7",
  "tags": []
}