Workflows/Agent 1 SEO Competitor Monitor.json
{
  "name": "Agent 1 SEO Competitor Monitor",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM competitors\nWHERE status='ACTIVE';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -128
      ],
      "id": "47b3c6d8-8d25-40b7-8068-00cd97124208",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -128
      ],
      "id": "f1284b24-9709-4c68-8a05-ae2a09ed5109",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.seranking.com/v1/backlinks/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "8622deac-f253-15ad-f426-ee9cf8a5b523"
            },
            {
              "name": "target",
              "value": "={{$json.domain}}"
            },
            {
              "name": "mode",
              "value": "domain"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "per_domain",
              "value": "1"
            },
            {
              "name": "output",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        -112
      ],
      "id": "2b17d567-6184-4a66-a806-0520b1de3064",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.backlinks.map(backlink => ({\n  competitor_id: $('Loop Over Items').item.json.id,\n  competitor_domain: $('Loop Over Items').item.json.domain,\n\n  url_from: backlink.url_from,\n  url_to: backlink.url_to,\n  title: backlink.title,\n  anchor: backlink.anchor,\n  alt: backlink.alt,\n  nofollow: backlink.nofollow,\n  image: backlink.image,\n  image_source: backlink.image_source,\n  inlink_rank: backlink.inlink_rank,\n  domain_inlink_rank: backlink.domain_inlink_rank,\n  first_seen: backlink.first_seen,\n  last_visited: backlink.last_visited\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -112
      ],
      "id": "c7ff2f34-f916-42ee-bbd4-c2a0d3568588",
      "name": "Align Backlinks data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const urlFrom = ($json.url_from || \"\").trim();\nconst urlTo = ($json.url_to || \"\").trim();\nconst anchor = ($json.anchor || \"\").trim();\nconst dr = Number($json.domain_inlink_rank || 0);\n\n// Rule 1\nif (dr < 30) return null;\n\n// Rule 2\nif (!urlFrom) return null;\n\n// Rule 3\nif (!urlTo) return null;\n\n// Rule 4\nif (!anchor) return null;\n\n// Rule 5\nif (\n    anchor.length < 2 ||\n    anchor.toLowerCase() === \"source\" ||\n    anchor.toLowerCase() === \"website\" ||\n    anchor.toLowerCase() === \"click here\" ||\n    anchor === \"[1]\"\n) {\n    return null;\n}\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -112
      ],
      "id": "f2226520-548b-462e-9d8f-867567d6e5dd",
      "name": "Backlink Validation fixing",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = ($json.url_from || '').trim();\n\nif (!url) return null;\n\nconst source_domain = url\n  .replace(/^https?:\\/\\//i, '')\n  .replace(/^www\\./i, '')\n  .split('/')[0]\n  .toLowerCase();\n\nreturn {\n  ...$json,\n  source_domain\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -288
      ],
      "id": "2afb6e76-bcf5-43d1-8171-1e275f775ea9",
      "name": "Generate Source Domain"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO backlink_sources\n(\n    source_domain,\n    domain_rating,\n    created_at\n)\nVALUES\n(\n    '{{ $json.source_domain }}',\n    {{ $json.domain_inlink_rank }},\n    NOW()\n)\nON CONFLICT (source_domain)\nDO UPDATE\nSET\n    domain_rating = EXCLUDED.domain_rating\nRETURNING id AS backlink_source_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        -288
      ],
      "id": "bb741a0c-5bd3-41de-a724-29411b17cc3c",
      "name": "Insert Backlink_Sources",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        -128
      ],
      "id": "a853e8f8-8dbe-4b0f-adbe-22a2ef615035",
      "name": "Merge 1 : SE Rank Data + Backlink Source ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  competitor_id: $json.competitor_id,\n  backlink_source_id: $json.backlink_source_id,\n\n  source_url: $json.url_from,\n  anchor_text: $json.anchor,\n\n  nofollow: $json.nofollow,\n\n  first_seen_date: $json.first_seen,\n  last_seen_date: $json.last_visited,\n\n  is_analyzed: false,\n  status: 'PENDING'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -128
      ],
      "id": "ba6a9333-7434-4087-a3ee-1c0443b38007",
      "name": "Align Data for storing competitor_backlinks"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO competitor_backlinks (\n    competitor_id,\n    backlink_source_id,\n    source_url,\n    anchor_text,\n    nofollow,\n    first_seen_date,\n    last_seen_date,\n    is_analyzed,\n    status,\n    created_at,\n    updated_at\n)\nVALUES (\n    '{{ $json.competitor_id }}',\n    '{{ $json.backlink_source_id }}',\n    '{{ $json.source_url }}',\n    '{{ $json.anchor_text.replace(/'/g, \"''\") }}',\n    {{ $json.nofollow }},\n    NOW(),\n    NOW(),\n    false,\n    'ACTIVE'::backlinkstatus,\n    NOW(),\n    NOW()\n)\n\nON CONFLICT (competitor_id, backlink_source_id)\n\nDO UPDATE SET\n\n    source_url = EXCLUDED.source_url,\n\n    anchor_text = EXCLUDED.anchor_text,\n\n    nofollow = EXCLUDED.nofollow,\n\n    last_seen_date = NOW(),\n\n    updated_at = NOW()\n\nRETURNING\n    id,\n    competitor_id,\n    backlink_source_id,\n    is_analyzed;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2368,
        -128
      ],
      "id": "26e1fd34-3e3d-4da8-9b64-123d47933d89",
      "name": "Insert competitor_backlinks data",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -128
      ],
      "id": "1a303e15-fc63-4aa3-9cb8-9ee1c52a3749",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E7XLplSZJQOzx7Un",
          "mode": "list",
          "cachedResultUrl": "/workflow/E7XLplSZJQOzx7Un",
          "cachedResultName": "Agent 3 Competitor Gap Analysis Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        -656
      ],
      "id": "6111724c-50df-4547-a784-6da8afabd3ea",
      "name": "Call 'Agent 3 Competitor Gap Analysis Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fP8BxykKjaZzJie7",
          "mode": "list",
          "cachedResultUrl": "/workflow/fP8BxykKjaZzJie7",
          "cachedResultName": "Agent 2 - Backlink Analyzer Method 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        -384
      ],
      "id": "b65d1ff4-aa55-45eb-8290-128cc59bc929",
      "name": "Call 'Agent 2 - Backlink Analyzer Method 2'",
      "notesInFlow": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b0c3de7-95a7-4db4-98f0-e29dcece3f9e",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        -384
      ],
      "id": "eb6df86c-6bbc-442a-a19d-f0972fdea06d",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Agent 2 failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1696,
        -560
      ],
      "id": "d4d88963-5444-4711-bfc3-ca8e160952c8",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json:{\n    status:\"FAILED\",\n    failed_agent:\"Agent2\",\n    reason:$json.error || \"Unknown Error\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -384
      ],
      "id": "3f2b8ccb-0ba4-4f1f-aec4-cccc0ad498d8",
      "name": "Agent2 Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Call 'Agent 2 - Backlink Analyzer Method 2'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Align Backlinks data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Backlinks data": {
      "main": [
        [
          {
            "node": "Backlink Validation fixing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlink Validation fixing": {
      "main": [
        [
          {
            "node": "Merge 1 : SE Rank Data + Backlink Source ID",
            "type": "main",
            "index": 1
          },
          {
            "node": "Generate Source Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Source Domain": {
      "main": [
        [
          {
            "node": "Insert Backlink_Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Backlink_Sources": {
      "main": [
        [
          {
            "node": "Merge 1 : SE Rank Data + Backlink Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 1 : SE Rank Data + Backlink Source ID": {
      "main": [
        [
          {
            "node": "Align Data for storing competitor_backlinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Data for storing competitor_backlinks": {
      "main": [
        [
          {
            "node": "Insert competitor_backlinks data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert competitor_backlinks data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agent 2 - Backlink Analyzer Method 2'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Agent 3 Competitor Gap Analysis Agent'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent2 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent2 Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "578a3799-7b66-40fd-87e7-7b70096b4ab5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3bbb2ca9db600b2da7ddb3b953b0326776f0644d9dd665fd09e137c2f47001"
  },
  "nodeGroups": [],
  "id": "RFPrt9WKp4yJfm9t",
  "tags": []
}