Workflows/Agent 3 Competitor Gap Analysis Agent.json
{
  "name": "Agent 3 Competitor Gap Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    ba.id AS analysis_id,\n    ba.competitor_backlink_id,\n\n    ba.source_domain,\n    ba.domain_rating,\n\n    ba.authority_score,\n    ba.relevance_score,\n    ba.spam_score,\n    ba.opportunity_score,\n\n    ba.link_type,\n\n    ba.recommendation,\n\n    ba.analyzed_at\n\nFROM backlink_analysis ba\n\nLEFT JOIN backlink_opportunities bo\nON ba.id = bo.analysis_id\n\nWHERE\n    bo.id IS NULL\n    AND DATE(ba.analyzed_at) = CURRENT_DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "ed4ee4d8-592b-47bd-8c76-e7b5fb492b1a",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const authority = $json.authority_score;\nconst relevance = $json.relevance_score;\nconst spam = $json.spam_score;\n\nconst final_score =\nMath.round(\n(authority * 0.3) +\n(relevance * 0.5) -\n(spam * 0.2)\n);\n\nlet priority = \"LOW\";\nlet suggested_action = \"Ignore\";\n\nif(final_score >= 80){\n  priority = \"HIGH\";\n  suggested_action = \"Immediate Outreach\";\n}\nelse if(final_score >= 50){\n  priority = \"MEDIUM\";\n  suggested_action = \"Monitor & Outreach\";\n}\n\nreturn {\n  analysis_id: $json.analysis_id,\n\n  source_domain: $json.source_domain,\n  domain_rating: $json.domain_rating,\n\n  authority_score: authority,\n  relevance_score: relevance,\n  spam_score: spam,\n\n  domain_rating_score: authority,\n  difficulty_score: spam,\n\n  final_score,\n  priority,\n  suggested_action,\n\n  recommendation: $json.recommendation,\n  relevance_reason: $json.relevance_reason\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "36ab48a6-3820-4868-9ce9-6fdbfefb4c45",
      "name": "Calculate Final Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d92fc7f-3d9c-459c-8cf9-3c08961251b9",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "8c79cb37-e204-4e75-a768-8c44e07e1089",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO backlink_opportunities (\n    analysis_id,\n    domain_rating_score,\n    relevance_score,\n    difficulty_score,\n    final_score,\n    priority,\n    suggested_action,\n    created_at\n)\nVALUES (\n    '{{ $json.analysis_id }}',\n    {{ $json.domain_rating_score }},\n    {{ $json.relevance_score }},\n    {{ $json.difficulty_score }},\n    {{ $json.final_score }},\n    '{{ $json.priority }}',\n    '{{ $json.suggested_action }}',\n    NOW()\n)\nON CONFLICT (analysis_id)\nDO UPDATE SET\n    domain_rating_score = EXCLUDED.domain_rating_score,\n    relevance_score = EXCLUDED.relevance_score,\n    difficulty_score = EXCLUDED.difficulty_score,\n    final_score = EXCLUDED.final_score,\n    priority = EXCLUDED.priority,\n    suggested_action = EXCLUDED.suggested_action;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -16
      ],
      "id": "2b894c27-e2a2-40b8-bfc6-854bb81d5cf1",
      "name": "Insert Backlink Oppourtunities",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    c.company_name AS competitor,\n\n    bs.source_domain AS backlink_domain,\n\n    cb.source_url,\n\n    cb.anchor_text,\n\n    ba.domain_rating,\n\n    ba.authority_score,\n\n    ba.link_type,\n\n    ba.recommendation,\n\n    bo.domain_rating_score,\n\n    bo.relevance_score,\n\n    bo.difficulty_score,\n\n    bo.final_score,\n\n    bo.priority,\n\n    bo.suggested_action\n\nFROM backlink_opportunities bo\n\nJOIN backlink_analysis ba\nON bo.analysis_id = ba.id\n\nJOIN competitor_backlinks cb\nON ba.competitor_backlink_id = cb.id\n\nJOIN competitors c\nON cb.competitor_id = c.id\n\nJOIN backlink_sources bs\nON cb.backlink_source_id = bs.id\n\nWHERE\n    DATE(bo.created_at) = CURRENT_DATE\n    AND bo.priority IN ('HIGH','MEDIUM')\n    AND ba.domain_rating > 60\n\nORDER BY\nCASE\n    WHEN bo.priority='HIGH' THEN 1\n    WHEN bo.priority='MEDIUM' THEN 2\nEND,\nbo.final_score DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        -16
      ],
      "id": "d5c21b35-9a69-46d2-86f1-ec75922f07f4",
      "name": "Fetch Backlink Oppourtunities",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "SEO Daily Report"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        -16
      ],
      "id": "bbd7d8c2-c8e6-48a1-8ce6-f5661e620a8b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "manikandanbtechit77@gmail.com",
        "subject": "Daily Backlink Opportunity Report",
        "message": "<h3>Daily Backlink Opportunity Report</h3>  <p>Hi Team,</p>  <p>Please find attached today's backlink opportunity report.</p>  <p>Regards,<br> SEO Backlink Monitoring Agent</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        -16
      ],
      "id": "33d88cbf-1454-4992-85c1-c46011fb3102",
      "name": "Send a message",
      "webhookId": "9fa375ae-09dd-4f14-8f19-8245b52ea747",
      "credentials": {
        "gmailOAuth2": {
          "id": "jJrMnvDRbNAj9zp1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "da16433b-5f48-408e-a88e-8e6d8c1ea6fb",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Calculate Final Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Final Score": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Backlink Oppourtunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Backlink Oppourtunities": {
      "main": [
        [
          {
            "node": "Fetch Backlink Oppourtunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Backlink Oppourtunities": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea924e6d-7587-46b2-8dfd-df3715eebb88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3bbb2ca9db600b2da7ddb3b953b0326776f0644d9dd665fd09e137c2f47001"
  },
  "nodeGroups": [],
  "id": "E7XLplSZJQOzx7Un",
  "tags": []
}