Workflows/Agent 2 - Backlink Analyzer.json
{
  "name": "Agent 2 - Backlink Analyzer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8f650c80-8c2b-4ac2-982b-0110ac32e4de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    cb.id,\n    cb.source_url,\n    cb.anchor_text,\n    cb.nofollow,\n    bs.source_domain,\n    bs.domain_rating\nFROM competitor_backlinks cb\nJOIN backlink_sources bs\nON cb.backlink_source_id = bs.id\nWHERE cb.is_analyzed = false\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        0
      ],
      "id": "a52d6c6d-884f-4310-bf83-602027b12120",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Source Domain:\n{{$json.source_domain}}\n\nDomain Rating:\n{{$json.domain_rating}}\n\nAnchor Text:\n{{$json.anchor_text}}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert SEO Backlink Analyst.\n\nYour task is to evaluate a backlink using only:\n\n- Source Domain\n- Domain Rating\n- Anchor Text\n\nScoring Rules:\n\nrelevance_score:\n0-20   = Not relevant\n21-40  = Low relevance\n41-60  = Moderate relevance\n61-80  = Relevant\n81-100 = Highly relevant\n\nspam_score:\n0-20   = Very low spam risk\n21-40  = Low spam risk\n41-60  = Moderate spam risk\n61-80  = High spam risk\n81-100 = Very high spam risk\n\nAnalyze:\n\n1. How relevant the backlink is to software development, mobile app development, AI development, digital transformation, IT consulting, SaaS, cloud, or technology services.\n\n2. Estimate spam risk based on:\n   - source domain quality\n   - anchor text quality\n   - domain rating\n\nReturn ONLY valid JSON.\n\nDo not return markdown.\nDo not return explanations outside JSON.\n\nRequired JSON format:\n\n{\n  \"relevance_score\": 0,\n  \"spam_score\": 0,\n  \"relevance_reason\": \"\",\n  \"recommendation\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        784,
        16
      ],
      "id": "7b66a13a-78f0-40a5-8cce-9d4ea6d1c86a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        256
      ],
      "id": "a0ee0d96-66e8-433a-9114-bb0c1165d82c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QdtvuPWIMh3sq75Y",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  competitor_backlink_id: $json.id,\n\n  source_domain: $json.source_domain,\n  domain_rating: $json.domain_rating,\n\n  authority_score: $json.authority_score,\n\n  relevance_score: $json.output.relevance_score,\n\n  spam_score: $json.output.spam_score,\n\n  opportunity_score: $json.opportunity_score,\n\n  link_type: $json.link_type,\n\n  relevance_reason: $json.output.relevance,\n\n  recommendation: $json.output.recommendation,\n\n  analyzed_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        16
      ],
      "id": "3eb82165-20ad-45c8-8134-54e1d50f9a1c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO backlink_analysis (\n    competitor_backlink_id,\n    source_domain,\n    domain_rating,\n    relevance_score,\n    authority_score,\n    spam_score,\n    opportunity_score,\n    link_type,\n    relevance_reason,\n    recommendation,\n    analyzed_at\n)\nVALUES (\n    '{{ $json.competitor_backlink_id }}',\n    '{{ $json.source_domain }}',\n    {{ $json.domain_rating }},\n    {{ $json.relevance_score }},\n    {{ $json.authority_score }},\n    {{ $json.spam_score }},\n    {{ $json.opportunity_score }},\n    '{{ $json.link_type }}',\n    '{{ $json.relevance_reason.replace(/'/g, \"''\") }}',\n    '{{ $json.recommendation.replace(/'/g, \"''\") }}',\n    '{{ $json.analyzed_at }}'\n)\nON CONFLICT (competitor_backlink_id)\nDO NOTHING;\n\nUPDATE competitor_backlinks\nSET\n    is_analyzed = true,\n    updated_at = NOW()\nWHERE id = '{{ $json.competitor_backlink_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        0
      ],
      "id": "6c21629e-2bf4-428b-a918-13495b1cbf3f",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "3GeEA1N4qEdDeEAq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        -144
      ],
      "id": "43aa284b-227f-4fc4-aaba-b8da0ac1e60a",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"relevance_score\": 0,\n  \"spam_score\": 0,\n  \"relevance\": \"string\",\n  \"recommendation\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        192
      ],
      "id": "cff25f9b-8e36-49df-bc6f-509107e7fece",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const dr = $json.domain_rating;\n\nlet authority_score = 0;\n\nif (dr >= 80) {\n  authority_score = 90;\n}\nelse if (dr >= 60) {\n  authority_score = 75;\n}\nelse if (dr >= 40) {\n  authority_score = 60;\n}\nelse if (dr >= 20) {\n  authority_score = 40;\n}\nelse {\n  authority_score = 20;\n}\n\nlet link_type = $json.nofollow\n  ? \"NOFOLLOW\"\n  : \"DOFOLLOW\";\n\nlet opportunity_score = authority_score;\n\nif (!($json.nofollow)) {\n  opportunity_score += 10;\n}\n\nopportunity_score = Math.min(opportunity_score, 100);\n\nreturn {\n  ...$json,\n\n  authority_score,\n\n  opportunity_score,\n\n  link_type\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "56bd3691-8543-472b-ad28-8ad5a0f53fe8",
      "name": "Calculate Scores"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12d62f4b-8b64-4417-812d-a65a9c1b9738",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3bbb2ca9db600b2da7ddb3b953b0326776f0644d9dd665fd09e137c2f47001"
  },
  "nodeGroups": [],
  "id": "Nz2KXfqhejBhFoCP",
  "tags": []
}